LLM-Based Solar Panel Invoice Classification from CSV Data (1).json
{
  "name": "LLM-Based Solar Panel Invoice Classification from CSV Data",
  "nodes": [
    {
      "parameters": {},
      "id": "609ae60f-60fd-40cc-8b1f-7b84589724a3",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3248,
        496
      ]
    },
    {
      "parameters": {
        "options": {
          "delimiter": ";"
        }
      },
      "id": "fd387f66-e0a9-4815-af8d-a96ed29a5686",
      "name": "Extract CSV Data",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        3696,
        496
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.data) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Du erhältst ein Array von CSV-Zeilen. Analysiere JEDE Zeile einzeln und gib ein Array von Klassifizierungen zurück - eine für jede Eingabezeile in derselben Reihenfolge.\n\nDu bist ein Experte für die Klassifizierung von PV-Modulen (Solarpanels) basierend auf Rechnungs- und Auftragsdaten. Deine Aufgabe: Analysiere die bereitgestellten CSV-Zeilendaten und entscheide, ob es sich um ein PV-Modul handelt.\n\nPunktesystem zur Klassifizierung:\n1. Marken (+2 Punkte für Primärspalten / +1 Punkt für sonstige Spalten): Jinko, Aiko, Trina, Vertex, Winaico, Heckert, Bluesun, Axitec, Jolywood, Longi, Aleo, Astro, Canadian Solar, DAH, Meyer Burger, QCells, REC, Risen, Senec, Solar Fabrik, Suntech, Solarwatt, Sunpower, Ja Solar, Luxor, Hanwha.\n2. Leistung (+2 Punkte): Watt-Angaben wie 400W, 450Wp oder Produktcodes mit 3-stelliger Zahl (200-600) ohne andere Bedeutung.\n3. Keywords (+3 Punkte für ≥6 Keywords, +2 Punkte für ≥4 Keywords): Bifazial, N-Typ, Topcon, Mono, Blackframe, Leistungsgarantie, Monokristallin, Glas-Glas, Fullblack, Rahmen, Wirkungsgrad, Halfcut.\n4. Phrasen (+1 Punkt): Lineare Leistungsgarantie, Glas Glas, Full Black, 25/30 Jahre Garantie.\n5. Preis (+1 Punkt): Einzelpreis zwischen 35€ und 350€.\n6. Menge (+1 Punkt): Menge > 1 oder Menge zwischen 2 und 300.\n7. Konsistenz (+1 Punkt): Menge * Einzelpreis ≈ Gesamtpreis (mit Toleranz).\n8. Komplettanlagen (+2 Punkte): Balkonkraftwerk, PV-Anlage mit hoher Leistung.\n9. NEGATIV-FILTER (-2 Punkte): Optimierer, Wechselrichter, Kabel, Stecker, Montage, Speicher, Batterie.\n\nEntscheidungsregel: Score ≥ 3 = PV-Modul (is_pv_module: true), Score < 3 = Kein PV-Modul (is_pv_module: false). Im Zweifel (z.B. Zubehör): false.\n\nAnalysiere die Daten sorgfältig und wende das Punktesystem konsequent an."
        }
      },
      "id": "8199d6b5-783f-4dfa-9eb7-99929cc03028",
      "name": "PV Module Classifier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4144,
        624
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n\t{\n\t\t\"is_pv_module\": true,\n\t\t\"confidence\": 8,\n\t\t\"reasoning\": \"Marke Jinko erkannt (+2), Leistung 450Wp (+2), Keywords Mono, Glas-Glas (+2), Preis 120€ (+1) = Score 7\"\n\t},\n\t{\n\t\t\"is_pv_module\": false,\n\t\t\"confidence\": 2,\n\t\t\"reasoning\": \"Keine Marke erkannt, keine Leistungsangabe, Score zu niedrig\"\n\t}\n]"
      },
      "id": "667cb181-d6f5-4b1e-a836-a09cfc8ee1ec",
      "name": "Classification Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4280,
        844
      ]
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=1ZXr7yThvH6-Nh9_fVD2UBSc16-OqwUSm",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "34d1a0d1-9b58-4614-9987-43009cc0533d",
      "name": "Download CSV File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3472,
        496
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "240d9f75-cc06-44ae-90e8-5a1b188b1de2",
      "name": "Batch Rows (10 per group)",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3920,
        620
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "id": "c697caa9-e6bc-4991-bed4-e67a17a7852d",
      "name": "Split Results Back to Rows",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4496,
        620
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4152,
        844
      ],
      "id": "807ff5cd-f420-470d-91a7-63b1dbd189cc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9fHSiq39JMu0BeLW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "110d5520-e142-47cb-a9d0-aeccaa8fc9b0",
      "name": "Merge Original Data with Classifications",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4720,
        496
      ]
    },
    {
      "parameters": {
        "options": {
          "delimiter": ";",
          "fileName": "classified_pv_modules.csv"
        }
      },
      "id": "3f464093-5499-40c9-845c-b124e23a41f2",
      "name": "Export to CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4944,
        496
      ]
    }
  ],
  "pinData": {
    "When clicking 'Test workflow'": [
      {
        "json": {}
      }
    ],
    "Batch Rows (10 per group)": [
      {
        "json": {
          "data": [
            {
              "account_id": "0013V00000irocuQAA",
              "customer_document_id": "9797288",
              "company_id": "54744",
              "industry": "Elektrotechnik",
              "measure_name": "Energietechnik",
              "document_net_value_total": "18.380,81",
              "net_price_per_unit": "77",
              "quantity": "52",
              "net_value_total": "4.004",
              "product_id": "GNkWvNHa0AA",
              "supply_product_name": "Photovoltaikmodul",
              "drafts_supply_product_name": "Photovoltaikmodul",
              "drafts_description": "<p>Trina Vertex S+ 450W</p><p>- Modulleistung: 450Wp</p><p>- Solarzellen: N-Typ i-TOPCon Modul </p><p>- Modulmaße: 1762x1134x30mm </p><p>- Doppelglas </p><p>- 5400Pa Schneelast </p><p>- 4000Pa Windlast </p><p>- 25 Jahre Produktgarantie </p><p>- 30 Jahre Leistungsgaranti </p><p>- N-Typ Technologie mit 1% Degradation im ersten Jahr und 0,4% in den Jahren 2-30 </p>",
              "supply_product_description": "<p>Trina Vertex S+ 450W</p><p>- Modulleistung: 450Wp</p><p>- Solarzellen: N-Typ i-TOPCon Modul </p><p>- Modulmaße: 1762x1134x30mm </p><p>- Doppelglas </p><p>- 5400Pa Schneelast </p><p>- 4000Pa Windlast </p><p>- 25 Jahre Produktgarantie </p><p>- 30 Jahre Leistungsgaranti </p><p>- N-Typ Technologie mit 1% Degradation im ersten Jahr und 0,4% in den Jahren 2-30 </p>",
              "unit_type": "Stk",
              "document_created_at": "März 10, 2025, 08:15",
              "record_type": "product"
            },
            {
              "account_id": "001Tq000004DdUJIA0",
              "customer_document_id": "13199054",
              "company_id": "59093",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik",
              "document_net_value_total": "13.334,81",
              "net_price_per_unit": "69,78",
              "quantity": "10",
              "net_value_total": "697,8",
              "product_id": "GBee9njogAA",
              "supply_product_name": "Hochleistungsmodule 445W Trina Vertex S+ Glas/Glas Black Frame",
              "drafts_supply_product_name": "Hochleistungsmodule 445W Trina Vertex S+ Glas/Glas Black Frame",
              "drafts_description": "<p><span>• Nennleistung pro Modul: 445 Wp</span><br /></p><div><div>• Rahmenfarbe: Schwarz</div><div>• Modulabmessung: 1762 x 1134 x 30 mm</div><div>• 30 Jahre lineare Leistungsgarantie</div><div>• 25 Jahre Produktgarantie</div></div>",
              "supply_product_description": "<p><span>• Nennleistung pro Modul: 445 Wp</span><br /></p><div><div>• Rahmenfarbe: Schwarz</div><div>• Modulabmessung: 1762 x 1134 x 30 mm</div><div>• 30 Jahre lineare Leistungsgarantie</div><div>• 25 Jahre Produktgarantie</div></div>",
              "unit_type": "Stk",
              "document_created_at": "Oktober 9, 2025, 15:24",
              "record_type": "product"
            },
            {
              "account_id": "001Tq000007fsTTIAY",
              "customer_document_id": "12029532",
              "company_id": "63014",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik",
              "document_net_value_total": "16.960,81",
              "net_price_per_unit": "139,31",
              "quantity": "12",
              "net_value_total": "1.671,72",
              "product_id": "GOLkEgA9EAA",
              "supply_product_name": "Glas-Glas Solarmodule 460W Full Black",
              "drafts_supply_product_name": "Glas-Glas Solarmodule 460W Full Black",
              "drafts_description": "<div><div><br class=\"Apple-interchange-newline\" />Hersteller: Aiko</div></div><div><div><br /></div></div><div><div>Garantie:</div><ul><li>30 Jahre Produktgarantie</li><li>30 Jahre Leistungsgarantie (min. 88.85%)</li></ul></div><div><div>Technische Daten:</div><ul><li>Leistung: 460 Watt</li><li>n-typ ABC Technologie</li><li>Modulwirkungsgrad: 23,1%</li></ul></div><div></div><div><div><div><div>Abmessungen &amp; Gewicht:</div></div></div><div><div><ul><li>Länge: 1757mm</li><li>Breite: 1134mm</li><li>Rahmenhöhe: 30mm</li><li>Gewicht: 24,5 Kg</li><li>Farbe: Schwarz</li></ul></div></div></div>",
              "supply_product_description": "<div><div><br class=\"Apple-interchange-newline\" />Hersteller: Aiko</div></div><div><div><br /></div></div><div><div>Garantie:</div><ul><li>25 Jahre Produktgarantie</li><li>30 Jahre Leistungsgarantie (min. 88.85%)</li></ul></div><div><div>Technische Daten:</div><ul><li>Leistung: 460 Watt</li><li>n-typ ABC Technologie</li><li>Modulwirkungsgrad: 23,1%</li></ul></div><div></div><div><div><div><div>Abmessungen &amp; Gewicht:</div></div></div><div><div><ul><li>Länge: 1757mm</li><li>Breite: 1134mm</li><li>Rahmenhöhe: 30mm</li><li>Gewicht: 24,5 Kg</li><li>Farbe: Schwarz</li></ul></div></div></div>",
              "supply_product_category": "Module",
              "supply_product_manufacturer": "Aiko",
              "unit_type": "Stk",
              "document_created_at": "Juli 30, 2025, 12:18",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000awKDpQAM",
              "customer_document_id": "12205737",
              "company_id": "43169",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik mit Speicher",
              "document_net_value_total": "19.919,4",
              "net_price_per_unit": "105",
              "quantity": "13",
              "net_value_total": "1.365",
              "product_id": "GiyxNR3WcAA",
              "supply_product_name": "ODER: Solar Fabrik 450W S4 Trend Full Black, Doppelglas, bifazial",
              "drafts_supply_product_name": "Solar Fabrik 450W S4 Trend Full Black, Doppelglas, bifazial",
              "drafts_description": "<div><div><b>Solar Fabrik Mono S4 Halfcut, Trend Full Black Glas/Glas</b></div><p>Die Solar Fabrik Solarmodule bestechen durch hohe Effizienz, Sicherheit und Zuverlässigkeit. Die Produktgarantie und die Leistungsgarantie belaufen sich auf großzügige 30 Jahre. Sie sind somit im hohen Bereich angesiedelt. </p><p>Die höhere Leistung je Modul kommt durch größere Zellen zustande und führt in der Anwendung auch zu etwas größeren Modulmaßen. </p></div><div><div><b>Modulhersteller Solar Fabrik</b></div><p>Das familiengeführte Unternehmen aus Deutschland besticht durch langjährige Erfahrung im Solarmarkt, Sicherheit und Zuverlässigkeit. Die optisch ansprechenden Module mit deutscher Garantie befinden sich im gehobenen Leistungsbereich.</p></div><div><br class=\"Apple-interchange-newline\" /></div>",
              "supply_product_description": "<div><div><b>Solar Fabrik Mono S4 Halfcut, Trend Full Black Glas/Glas</b></div><p>Die Solar Fabrik Solarmodule bestechen durch hohe Effizienz, Sicherheit und Zuverlässigkeit. Die Produktgarantie und die Leistungsgarantie belaufen sich auf großzügige 30 Jahre. Sie sind somit im hohen Bereich angesiedelt. </p><p>Die höhere Leistung je Modul kommt durch größere Zellen zustande und führt in der Anwendung auch zu etwas größeren Modulmaßen. </p></div><div><div><b>Modulhersteller Solar Fabrik</b></div><p>Das familiengeführte Unternehmen aus Deutschland besticht durch langjährige Erfahrung im Solarmarkt, Sicherheit und Zuverlässigkeit. Die optisch ansprechenden Module mit deutscher Garantie befinden sich im gehobenen Leistungsbereich.</p></div><div><br class=\"Apple-interchange-newline\" /></div>",
              "supply_product_category": "Module",
              "supply_product_manufacturer": "Solar Fabrik",
              "unit_type": "Stk",
              "document_created_at": "August 11, 2025, 14:35",
              "record_type": "product"
            },
            {
              "account_id": "001Tq00000AgtK6IAJ",
              "customer_document_id": "9507309",
              "company_id": "65227",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik mit Speicher",
              "document_net_value_total": "12.829,24",
              "net_price_per_unit": "97,4",
              "quantity": "17",
              "net_value_total": "1.655,8",
              "product_id": "GS77Ch2usAE",
              "supply_product_name": "VIESSMANN Vitovolt 300-DG M450 AO blackframe",
              "drafts_supply_product_name": "Vitovolt 300-DG M450 AO blackframe",
              "drafts_description": "<div>\n<p>Hochwertiges PV-Modul mit modernster TOPCon-Technologie in Glas/Glas-Bauweise</p><div><ul><li>Leistung 450W</li><li>100% Plussortierung +0 bis +5W</li><li>25 Jahre Produktgarantie durch Hersteller</li><li>30 Jahre Leistungsgarantie durch Hersteller</li></ul><p>Abmaße in mm: 1762x1134x30</p></div></div>",
              "supply_product_description": "<p>Hochwertiges PV-Modul mit modernster TOPCon-Technologie in Glas/Glas-Bauweise</p><div><ul><li>Leistung 450W</li><li>100% Plussortierung +0 bis +5W</li><li>25 Jahre Produktgarantie durch Hersteller</li><li>30 Jahre Leistungsgarantie durch Hersteller</li></ul><p>Abmaße in mm: 1762x1134x30<br />Gewicht: 21,5 kg</p><p><br /></p></div>",
              "ean": "4067764443838",
              "unit_type": "Stk",
              "document_created_at": "Februar 19, 2025, 08:35",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000e5vxMQAQ",
              "customer_document_id": "10894699",
              "company_id": "47604",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik Commercial",
              "document_net_value_total": "19.720",
              "net_price_per_unit": "120",
              "quantity": "20",
              "net_value_total": "2.400",
              "product_id": "FrqKvr__0AA",
              "supply_product_name": "Modul 455 W: Jolywood 455 Wattpeak",
              "drafts_supply_product_name": "450 W Bifazial Glas/Glas, Fullblack: JW-HD108N-450W",
              "drafts_description": "<div><p>- 25 Produkt- und 30 Jahre Leistungsgarantie</p><p>- Leistung: 450 Watt</p></div><div><p>- Bypass-Dioden</p><p>- Monokritsalline Fullblack Solarmodule</p><p>- Bifazial</p></div>",
              "supply_product_description": "<div><p>Produktvorteile:</p></div><div><ul><li>Doppelglas Full Black</li><li>Überragende Leistung: Das Jolywood Modul optimiert die Energiegewinnung durch seine bifaziale Bauweise, die es ermöglicht, Licht von beiden Seiten zu nutzen und somit den Energieertrag signifikant zu steigern.</li><li>Langlebigkeit und Zuverlässigkeit: Entwickelt, um über 30 Jahre hinweg eine minimale Degradation zu gewährleisten, bietet dieses Modul eine zuverlässige und dauerhafte Energielösung.</li><li>25 Jahre Produktgarantie</li></ul></div><div><div>Technische Spezifikationen:</div><ul><li>Energieeffizienz: 22,52%</li><li>Abmessungen: 1762mm x 1134mm x 30mm</li><li>Gewicht: 24.6 kg</li></ul></div><div><ul><li>Maximale Leistung: 455 Watt</li><li>Bypass-Dioden</li><li>Bifazial</li><li>Monokritsalline Fullblack Solarmodule</li></ul><p><br /></p></div><div><p><br /></p></div>",
              "supply_product_category": "Solarmodul",
              "unit_type": "Stk",
              "document_created_at": "Mai 20, 2025, 10:27",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000e4oQyQAI",
              "customer_document_id": "11042339",
              "company_id": "46216",
              "industry": "Photovoltaik",
              "measure_name": "Projekt",
              "document_net_value_total": "14.450",
              "net_price_per_unit": "64",
              "quantity": "34",
              "net_value_total": "2.176",
              "product_id": "FsycHO8j8AA",
              "supply_product_name": "Aiko Neostar 2S+ A-MAH54Db 460W",
              "drafts_supply_product_name": "Trina Modul Vertex S+ N-Type - 440W",
              "drafts_description": "<div><span style=\"font-size:10px;\">Das Photovoltaik Modul Trina 440 W aus derSerie&nbsp;Vertex S+&nbsp;besteht aus monokristallinen Zellen mit einer Siliziumwafergröße&nbsp;210 mm in i-TOPcon N-Zelltechnologie. Vertex S+ verfügt über mehrere innovative Konstruktionsmerkmale, um eine hohe Ausgangsleistung zu erzielen.Der ausgezeichnete Temperaturkoeffizient und die niedrige Strahlungseffizienz bringen mehr Leistung.&nbsp;Darüber hinaus erreicht der Wirkungsgrad der Module Vertex S+ dank der hochdichten Verbindungen bis zu 21,8%.</span></div><div><br></div><div><font><span style=\"font-size:10px;\"><b>Technische Daten:&nbsp;</b></span></font></div><div><ul><li><span style=\"font-size:10px;\">30 Jahre Garantie auf die Ausgangsleistung</span></li><li><span style=\"font-size:10px;\">25 Jahre Garantie auf Material und Ausführung</span></li><li><span style=\"font-size:10px;\">das Modul ist komplett schwarz gehalten (Full-Black Modul)</span></li><li><span style=\"font-size:10px;\">Glas auf der Vorder- und Rückseite des Photovoltaik Moduls (Glas-Glas Modul)</span></li><li><span style=\"font-size:10px;\">Geringere Installationskosten durch höhere Leistung und Effizienz</span></li><li><span style=\"font-size:10px;\">Hoher und stabiler Wirkungsgrad von bis zu&nbsp;21.8%&nbsp;dank innovativer Fertigungstechnologie</span></li><li><span style=\"font-size:10px;\">Positive Leistungstoleranz bis +5 W</span></li><li><span style=\"font-size:10px;\">minimierte Mikrorisse dank innovativer, zerstörungsfreier Schneidetechnik</span></li><li><span style=\"font-size:10px;\">Großflächige Zellen auf Siliziumwafern 210 mm</span></li><li><span style=\"font-size:10px;\">Multi-Busbar-Technologie bietet einen besseren Lichteinfang-Effekt</span></li><li><span style=\"font-size:10px;\">Hervorragende Leistung auch bei geringer Sonneneinstrahlung</span></li><li><span style=\"font-size:10px;\">Mechanische Leistung bis zu 5400 Pa bei Schneelast und 4000 Pa bei Windlast</span></li></ul></div><div><font><span style=\"font-size:10px;\"><b><br></b></span></font></div>",
              "supply_product_description": "<div><span style=\"font-size:10px;\"><br /></span></div><div>\n<span style=\"font-size:10px;\">Entdecke die Spitze der Solartechnologie mit dem Aiko Solar\nNeostar 2S+ 460W, auch bekannt als AIKO-A-MAH54Db,\neinem Premium-Solarmodul, das Effizienz mit Eleganz\nvereint. Als führender Hersteller in der Solarbranche\nrevolutioniert Aiko Solar die Photovoltaik mit seiner\ninnovativen All-Back-Contact (ABC) Technologie. Das AIKOA-MAH54Db PV Modul sticht mit einem außergewöhnlichen\nWirkungsgrad von 22,8 % und seinem vollschwarzen Design\nheraus, das jede Anlage optisch aufwertet und maximale\nEnergieerträge liefert.</span></div><div><br /></div><div><font><span style=\"font-size:10px;\"><b>Technische Daten: </b></span></font></div><div><ul><li><span style=\"font-size:10px;\">30 Jahre Leistungsgarantie (linear)</span></li><li><span style=\"font-size:10px;\">25 Jahre Produktgarantie</span></li><li><span style=\"font-size:10px;\">das Modul ist komplett schwarz gehalten (Full-Black Modul)</span></li><li><span style=\"font-size:10px;\">Glas auf der Vorder- und Rückseite des Photovoltaik Moduls (Glas-Glas Modul)</span></li><li><span style=\"font-size:10px;\">Geringere Installationskosten durch höhere Leistung und Effizienz</span></li><li><span style=\"font-size:10px;\">Hoher und stabiler Wirkungsgrad von bis zu 23,1% dank innovativer Fertigungstechnologie</span></li><li><span style=\"font-size:10px;\">Partielle Verschattungsoptimierung</span></li><li><span style=\"font-size:10px;\">Geringere Zelltemperatur bei Verschattung (dadurch nicht sehr hoher Verschleiß)</span></li><li><span style=\"font-size:10px;\">Keine sichtbaren Kontakte auf der Zellvorderseite; dieses steigert die Effizienz und ist ästhetischer</span></li></ul></div>",
              "supply_product_category": "Solarmodul",
              "supply_product_manufacturer": "Trina",
              "unit_type": "Stk",
              "document_created_at": "Mai 28, 2025, 12:17",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000UhYBbQAN",
              "customer_document_id": "9725069",
              "company_id": "33366",
              "industry": "Elektrotechnik",
              "measure_name": "Projekt",
              "document_net_value_total": "15.424,3",
              "net_price_per_unit": "193",
              "quantity": "10",
              "net_value_total": "1.930",
              "product_id": "Fwumo240IAA",
              "supply_product_name": "PV Module TRN. 440 Wp-Full Black,Bifacial, Glas Glas (inkl. Montage)",
              "drafts_supply_product_name": "PV Module 435 Wp NEG9 Vertex S Black Frame (Glas-Glas)",
              "drafts_description": "<ul><li><span style=\"font-size:8px;\">Modultyp:</span><span style=\"font-size:8px;\">&nbsp;Vertex S+ Glas-Glas black frame</span></li><li><span style=\"font-size:8px;\">Brandschutz</span></li><li><span style=\"font-size:8px;\">Leistung: 435 Wp</span></li><li><span style=\"font-size:8px;\">Hervorragende Optik -&nbsp;</span><span style=\"font-size:8px;\">Entwickelt mit Fokus auf Ästhetik</span><span style=\"font-size:8px;\">,&nbsp;</span><span style=\"font-size:8px;\">Hauchdünne, praktisch unsichtbare Leiterbahnen • Homogene Zellfarbe durch maschinelle Sortierung</span></li><li><span style=\"font-size:8px;\">Kleine Maße, große Leistung -&nbsp;</span><span style=\"font-size:8px;\">Bis zu 435 W Spitzenleistung, 21,3 % Modulwirkungsgrad mit High-Density Zellverbindungstechnologie,&nbsp;</span><span style=\"font-size:8px;\">Multi-Busbar-Technologie für mehr Absorption, geringeren Serien- widerstand, verbesserte Stromableitung und erhöhte Zuverlässigkeit,&nbsp;</span><span style=\"font-size:8px;\">Exzellentes Schwachlichtverhalten (IAM) durch optimierte Zellprozesse und Materialien</span></li><li><span style=\"font-size:8px;\">Hohe Zuverlässigkeit -&nbsp;</span><span style=\"font-size:8px;\">6.000 Pa Schneelast (Testlast) • 4.000 Pa Windlast (Testlast)</span></li><li><span style=\"font-size:8px;\">25 Jahre lineare Leistungsgarantie</span><span style=\"font-size: 8px;\">&nbsp;</span></li></ul>",
              "supply_product_description": "<ul><li><span style=\"font-size:8px;\">Modultyp:</span><span style=\"font-size:8px;\"> Vertex S+ Glas-Glas Full Black </span></li><li><span style=\"font-size:8px;\">Brandschutz</span></li><li><span style=\"font-size:8px;\">Leistung: 440 Wp</span></li><li><span style=\"font-size:8px;\">Hervorragende Optik - </span><span style=\"font-size:8px;\">Entwickelt mit Fokus auf Ästhetik</span><span style=\"font-size:8px;\">, </span><span style=\"font-size:8px;\">Hauchdünne, praktisch unsichtbare Leiterbahnen • Homogene Zellfarbe durch maschinelle Sortierung</span></li><li><span style=\"font-size:8px;\">Kleine Maße, große Leistung - </span><span style=\"font-size:8px;\">Bis zu 440 W Spitzenleistung, 21,3 % Modulwirkungsgrad mit High-Density Zellverbindungstechnologie, </span><span style=\"font-size:8px;\">Multi-Busbar-Technologie für mehr Absorption, geringeren Serien- widerstand, verbesserte Stromableitung und erhöhte Zuverlässigkeit, </span><span style=\"font-size:8px;\">Exzellentes Schwachlichtverhalten (IAM) durch optimierte Zellprozesse und Materialien</span></li><li><span style=\"font-size:8px;\">Hohe Zuverlässigkeit - </span><span style=\"font-size:8px;\">6.000 Pa Schneelast (Testlast) • 4.000 Pa Windlast (Testlast)</span></li><li><span style=\"font-size:8px;\">25 Jahre Produktgarantie auf die Verarbeitung und 30 Jahre Leistungsgarantie</span></li></ul>",
              "unit_type": "Stk",
              "document_created_at": "März 4, 2025, 19:46",
              "record_type": "product"
            },
            {
              "account_id": "001Tq000004FKnKIAW",
              "customer_document_id": "12076672",
              "company_id": "59359",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik",
              "document_net_value_total": "16.945",
              "net_price_per_unit": "79,5",
              "quantity": "16",
              "net_value_total": "1.272",
              "product_id": "GTWp_zm1EAA",
              "supply_product_name": "PV-Modul JA Solar 445 W, bifazial, Glas?Glas, Full Black (JAM54D41)",
              "drafts_supply_product_name": "PV-Modul JA Solar 445 W, bifazial, Glas‑Glas, Full Black (JAM54D41)",
              "drafts_description": "<ul><li>\n<!--StartFragment--><!--StartFragment-->Gesamtleistung von 7,12 kWp</li><li>JA Solar 445 W</li></ul><ul><li>Bifaziales Glas-Glas Modul</li></ul><ul><li>FullBlack</li></ul><ul><li>(JAM54D41)</li></ul><ul><li>25 Jahre Produkt-Garantie &amp; 30 Jahre Leistungsgarantie (Herstellergarantie)</li></ul><div>\n<!--StartFragment--><!--EndFragment-->\n\n</div>",
              "supply_product_description": "<ul><li>\nGesamtleistung von 7,12 kWp</li><li>JA Solar 445 W</li></ul><ul><li>Bifaziales Glas-Glas Modul</li></ul><ul><li>FullBlack</li></ul><ul><li>(JAM54D41)</li></ul><ul><li>25 Jahre Produkt-Garantie &amp; 30 Jahre Leistungsgarantie (Herstellergarantie)</li></ul><div>\n\n\n</div>",
              "supply_product_category": "PV-Modul",
              "unit_type": "Stk",
              "document_created_at": "August 1, 2025, 22:28",
              "record_type": "product"
            },
            {
              "account_id": "001Tq000000nNTJIA2",
              "customer_document_id": "10361850",
              "company_id": "54918",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik Residential",
              "document_net_value_total": "19.488,85",
              "net_price_per_unit": "110,6",
              "quantity": "22",
              "net_value_total": "2.433,2",
              "product_id": "GM5SDjDNUAA",
              "supply_product_name": "AIKO Neostar 2S+ Glas-Glas",
              "drafts_supply_product_name": "AIKO Neostar 2S+ Glas-Glas",
              "drafts_description": "<ul><li>Nennleistung: 455Wp<br />Modulwirkungsgrad: 22,8%</li><li>schwachlichtstarke N-Type Zelle<br /></li><li>Premium antireflektierendes Doppelglasmodul (2 x 2,0mm)</li><li>monokristalline Halbzellen mit All-Back-Contact Technologie</li><li>Leistungsgarantie: 30 Jahre auf 89% der Leistung</li><li>eloxierter Aluminiumrahmen schwarz</li><li>L-B-H: 1757 x 1134 x 30 mm</li></ul><p><b>Brandschutzsichere Glas-Glas Technologie</b></p><p><b>Full Black Optik durch ABC-Zellen</b></p><p><b>Exzellente Schwachlichtperformance</b></p><p><b>Weniger Leistungsreduktion bei Hitze</b></p>",
              "supply_product_description": "<ul><li>Nennleistung: 460Wp</li><li>Modulwirkungsgrad: 22,8%</li><li>schwachlichtstarke N-Type Zelle<br /></li><li>Premium antireflektierendes Doppelglasmodul (2 x 2,0mm)</li><li>monokristalline Halbzellen mit All-Back-Contact Technologie</li><li>Leistungsgarantie: 30 Jahre auf 89% der Leistung</li><li>eloxierter Aluminiumrahmen schwarz</li><li>L-B-H: 1757 x 1134 x 30 mm</li></ul><p><b>Brandschutzsichere Glas-Glas Technologie</b></p><p><b>Full Black Optik durch ABC-Zellen</b></p><p><b>Exzellente Schwachlichtperformance</b></p><p><b>Weniger Leistungsreduktion bei Hitze</b></p>",
              "supply_product_category": "Module",
              "supply_product_manufacturer": "Trina",
              "unit_type": "Stk",
              "document_created_at": "April 11, 2025, 16:09",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000awKDpQAM",
              "customer_document_id": "13213574",
              "company_id": "43169",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik mit Speicher",
              "document_net_value_total": "43.374,5",
              "net_price_per_unit": "115",
              "quantity": "35",
              "net_value_total": "4.025",
              "product_id": "GiyxNR3WcAA",
              "supply_product_name": "ODER: Solar Fabrik 450W S4 Trend Full Black, Doppelglas, bifazial",
              "drafts_supply_product_name": "Solar Fabrik 450W S4 Trend Full Black, Doppelglas, bifazial",
              "drafts_description": "<div><div><b>Solar Fabrik Mono S4 Halfcut, Trend Full Black Glas/Glas</b></div><p>Die Solar Fabrik Solarmodule bestechen durch hohe Effizienz, Sicherheit und Zuverlässigkeit. Die Produktgarantie und die Leistungsgarantie belaufen sich auf großzügige 30 Jahre. Sie sind somit im hohen Bereich angesiedelt. </p><p>Die höhere Leistung je Modul kommt durch größere Zellen zustande und führt in der Anwendung auch zu etwas größeren Modulmaßen. </p></div><div><div><b>Modulhersteller Solar Fabrik</b></div><p>Das familiengeführte Unternehmen aus Deutschland besticht durch langjährige Erfahrung im Solarmarkt, Sicherheit und Zuverlässigkeit. Die optisch ansprechenden Module mit deutscher Garantie befinden sich im gehobenen Leistungsbereich.</p></div><div><br class=\"Apple-interchange-newline\" /></div>",
              "supply_product_description": "<div><div><b>Solar Fabrik Mono S4 Halfcut, Trend Full Black Glas/Glas</b></div><p>Die Solar Fabrik Solarmodule bestechen durch hohe Effizienz, Sicherheit und Zuverlässigkeit. Die Produktgarantie und die Leistungsgarantie belaufen sich auf großzügige 30 Jahre. Sie sind somit im hohen Bereich angesiedelt. </p><p>Die höhere Leistung je Modul kommt durch größere Zellen zustande und führt in der Anwendung auch zu etwas größeren Modulmaßen. </p></div><div><div><b>Modulhersteller Solar Fabrik</b></div><p>Das familiengeführte Unternehmen aus Deutschland besticht durch langjährige Erfahrung im Solarmarkt, Sicherheit und Zuverlässigkeit. Die optisch ansprechenden Module mit deutscher Garantie befinden sich im gehobenen Leistungsbereich.</p></div><div><br class=\"Apple-interchange-newline\" /></div>",
              "supply_product_category": "Module",
              "supply_product_manufacturer": "Solar Fabrik",
              "unit_type": "Stk",
              "document_created_at": "Oktober 10, 2025, 09:49",
              "record_type": "product"
            },
            {
              "account_id": "001Tq000004ECiAIAW",
              "customer_document_id": "13235012",
              "company_id": "59837",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik",
              "document_net_value_total": "18.321,18",
              "net_price_per_unit": "92,17",
              "quantity": "35",
              "net_value_total": "3.225,95",
              "product_id": "GGnJ4VSY8AA",
              "supply_product_name": "Glas-Glas Solarmodul von Solar Fabrik GmbH, Fullblack",
              "drafts_supply_product_name": "Solar Fabrik Glas Glas Modul",
              "drafts_description": "<div>\n<div><span style=\"font-size:12px;\">Lieferung eines Solar Moduls der Firma Solar Fabrik vom Typ Glas/Glas mit schwarzem Rahmen und je 450 Wp.</span></div><div><span style=\"font-size:12px;\">kWp: 15,75</span></div><div><span style=\"font-size: 12px;\">Prognostizierte kWh/a: 11.100 kWh/a</span></div><div><span style=\"font-size: 12px;\">Prognostizierte kWh/a nach 30 Jahren: 8.800 kWh/a</span></div></div><div>\n\n</div>",
              "supply_product_description": "<div>\n<div><span style=\"font-size:12px;\">Lieferung eines Solar Moduls der Firma Solar FAbrik GmbH vom Typ Glas/Glas in schwarzer Ausführung und je 445 Wp.</span></div><div><br /></div></div><div>\n\n</div>",
              "supply_product_category": "Module",
              "unit_type": "Stk",
              "document_created_at": "Oktober 13, 2025, 06:42",
              "record_type": "product"
            },
            {
              "account_id": "001Tq000003jHW1IAM",
              "customer_document_id": "9637614",
              "company_id": "58726",
              "industry": "Elektrotechnik",
              "measure_name": "Elektrohandwerk",
              "document_net_value_total": "14.707,05",
              "net_price_per_unit": "116,38",
              "quantity": "36",
              "net_value_total": "4.189,68",
              "product_id": "GEaDgz7ZIAA",
              "supply_product_name": "TRINA SOLAR ",
              "drafts_supply_product_name": "LUXOR SOLAR",
              "drafts_description": "<div>\n<!--StartFragment--><div>Luxor&nbsp;ECO LINE N-TYPE HJT\nGlas-Glas Bifacial 440W — Bifacial, EVO2</div></div>",
              "supply_product_description": "<div>TSM-440NEG9R.28 VERTEX S+</div><div>oder vergleichbares</div>",
              "unit_type": "Stk",
              "document_created_at": "Februar 26, 2025, 22:33",
              "record_type": "product"
            },
            {
              "account_id": "001Tq00000AgtK6IAJ",
              "customer_document_id": "11507758",
              "company_id": "65227",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik Balkonkraftwerk",
              "document_net_value_total": "1.024,7",
              "net_price_per_unit": "122,15",
              "quantity": "2",
              "net_value_total": "244,3",
              "product_id": "GS77Ch2usAA",
              "supply_product_name": "VIESSMANN Vitovolt 300-DG M445 AO blackframe",
              "drafts_supply_product_name": "Jolywood bifazial 500W",
              "drafts_description": "<p>Full-Black Doppelglas Modul mit 500Wp</p><p>Abmaße in mm: 1960x1134x30<br>Gewicht: 27,3 kg</p>",
              "supply_product_description": "<p>Hochwertiges PV-Modul mit modernster TOPCon-Technologie in Glas/Glas-Bauweise</p><ul><li>Leistung 445W</li><li>100% Plussortierung +0 bis +5W</li><li>25 Jahre Produktgarantie durch Hersteller</li><li>30 Jahre Leistungsgarantie durch Hersteller</li></ul><p>Abmaße in mm: 1762x1134x30</p><p><br /></p>",
              "ean": "4067764443821",
              "unit_type": "Stk",
              "document_created_at": "Juni 30, 2025, 13:27",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000UhTXtQAN",
              "customer_document_id": "10048236",
              "company_id": "34828",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik mit Speicher",
              "document_net_value_total": "20.178,82",
              "net_price_per_unit": "1,25",
              "quantity": "7,04",
              "position_item_quantity": "153",
              "net_value_total": "1.346,4",
              "service_id": "271093",
              "supply_service_name": "SOLARWATT Panel vision M 5.0 (445 Wp) black",
              "drafts_supply_service_name": "SOLARWATT Panel vision M 5.0 (440 Wp) black",
              "drafts_description": "<div>\n30 Jahre Produkt-Garantie<br /></div><div>\n30 Jahre Leistungs-Garantie\nauf 90% Nennleistung gemäß Garantiebedingungen für\nSOLARWATT Panel vision<br /><br /></div><div>\nProdukteigenschaften:<br />• Leistung: 440Wp <br />• bifaziale TOPCon Halbzellen<br />• ammoniakbeständig\n<br />• salznebelbeständig\n<br />• großhagelbeständig\n\n</div><div><br />\n\n</div><div><br />\n\n</div>",
              "document_created_at": "März 25, 2025, 05:56",
              "record_type": "service_wagegroup"
            },
            {
              "account_id": "001Tq00000949ynIAA",
              "customer_document_id": "12291803",
              "company_id": "64769",
              "industry": "Photovoltaik",
              "measure_name": "Kontakt",
              "document_net_value_total": "9.525",
              "net_price_per_unit": "4",
              "quantity": "650",
              "net_value_total": "2.600",
              "product_id": "GL2adsorEAA",
              "supply_product_name": "Trina Vertex S + TSM-450NEG9R.28 - oder gleichwertig",
              "drafts_supply_product_name": "Astronergy 235 watt Module Silver MC4 CHSM6610P-235",
              "drafts_description": "\n<p>gebrauchte Module ohne Garantie\n getestet und zum Gebrauch geeignet</p>",
              "supply_product_description": "<div>\n<p>Produktvorteile:<br /></p></div><div><p>- Hochleistungs-Solarzellen</p><p>- 30 Jahre Leistungsgarantie und 25 Jahre Produktgarantie</p><p>Produkteigenschaften:</p><p>- Leistung: 450 Wp</p><p>- Zellart: monokristallin</p><p>- Farbe Rahmen: schwarz</p><p>- Systemspannung: 1500 V</p><p>- Abmessungen: 1134 x 30 x 1762 mm (BxHxL)</p><p>- Oberflächenbelastbarkeit: 5400 Pa (Schnee) / 4000 Pa (Wind)</p></div>",
              "supply_product_category": "Solarmodule",
              "supply_product_manufacturer": "Trina Solar",
              "unit_type": "Stk",
              "document_created_at": "August 18, 2025, 06:16",
              "record_type": "product"
            },
            {
              "account_id": "001Tq000004ECiAIAW",
              "customer_document_id": "11501507",
              "company_id": "59837",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik",
              "document_net_value_total": "15.843,81",
              "net_price_per_unit": "96,07",
              "quantity": "23",
              "net_value_total": "2.209,61",
              "product_id": "GVV0KxQPQAA",
              "supply_product_name": "Solar Fabrik Glas Glas Modul",
              "drafts_supply_product_name": "Solar Fabrik Glas Glas Modul",
              "drafts_description": "<div><span style=\"font-size: 12px;\">Lieferung eines Solar Moduls der Firma\nSolar Fabrik vom Typ Glas/Glas mit\nschwarzem Rahmen und je 445 Wp.</span></div>",
              "supply_product_description": "<div><span style=\"font-size:12px;\">Lieferung eines Solar Moduls der Firma\nSolar Fabrik vom Typ Glas/Glas mit\nschwarzem Rahmen und je 450 Wp.</span></div>",
              "unit_type": "Stk",
              "document_created_at": "Juni 30, 2025, 10:27",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000awKDpQAM",
              "customer_document_id": "10800636",
              "company_id": "43169",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik mit Speicher",
              "document_net_value_total": "2.750",
              "net_price_per_unit": "110",
              "quantity": "5",
              "net_value_total": "550",
              "product_id": "GiJCyOBWsAA",
              "supply_product_name": "Solar Fabrik 450 W S4 Trend White, bifazial, Glas/Glas",
              "drafts_supply_product_name": "Solar Fabrik 450 W S4 Trend White, bifazial, Glas/Glas",
              "drafts_description": "<div><br /></div><div><div><b>Solar Fabrik Mono S4 Halfcut, Trend White</b></div><p>Die Solar Fabrik Solarmodule bestechen durch hohe Effizienz, Sicherheit und Zuverlässigkeit. Die Produktgarantie und die Leistungsgarantie belaufen sich auf großzügige 30 Jahre. Sie sind somit im hohen Bereich angesiedelt. Die höhere Leistung je Modul kommt durch größere Zellen zustande und führt in der Anwendung auch zu etwas größeren Modulmaßen. Je nach Einsatzzweck können also Montage oder BOS Kosten weiter reduziert werden. Mit der S4 Serie bauen wir unser Produktportfolio weiter aus.</p></div><div><br /></div>",
              "supply_product_description": "<div><br /></div><div><div><b>Solar Fabrik Mono S4 Halfcut, Trend White</b></div><p>Die Solar Fabrik Solarmodule bestechen durch hohe Effizienz, Sicherheit und Zuverlässigkeit. Die Produktgarantie und die Leistungsgarantie belaufen sich auf großzügige 30 Jahre. Sie sind somit im hohen Bereich angesiedelt. Die höhere Leistung je Modul kommt durch größere Zellen zustande und führt in der Anwendung auch zu etwas größeren Modulmaßen. Je nach Einsatzzweck können also Montage oder BOS Kosten weiter reduziert werden. Mit der S4 Serie bauen wir unser Produktportfolio weiter aus.</p></div><div><br /></div>",
              "supply_product_category": "Module",
              "supply_catalog_name": "Eigene Artikel",
              "supply_product_manufacturer": "Solar Fabrik",
              "unit_type": "Stk",
              "document_created_at": "Mai 14, 2025, 11:23",
              "record_type": "product"
            },
            {
              "account_id": "001Tq00000QckIzIAJ",
              "customer_document_id": "12427848",
              "company_id": "80756",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik",
              "document_net_value_total": "2.130",
              "net_price_per_unit": "1.950",
              "quantity": "1",
              "net_value_total": "1.950",
              "product_id": "GpsSRsnQoAA",
              "supply_product_name": "Balkonkraftwerk mit 2.0kWp und 2.7kWh Speicher (Anker3)",
              "drafts_supply_product_name": "Balkonkraftwerk mit 2.000Wp und 2.700kWh Speicher (Material)",
              "drafts_description": "<div>\n<div><div> </div></div></div><div><span style=\"font-size:10px;\"><b>Anker SOLIX Solarbank 3 E2700 Pro 2,688kWh Speicher inkl. Smart Meter únd 4 x 500W Modul</b></span><b style=\"font-size:12px;\"><br></b></div><div><b style=\"font-size:12px;\"><br></b></div><div><b style=\"font-size:12px;\"><span style=\"font-size:10px;\">Bestehend aus:</span></b></div><div><div><b><span style=\"font-size:10px;\">1 x Anker E2700Pro</span><span style=\"font-size:12px;\"><br></span></b></div><ul><li><span style=\"font-size:10px;\">2,668kWh AIO Speichersystem für Balkonkraftwerke</span><span style=\"font-size:12px;\"><br></span></li><li><span style=\"font-size:10px;\">Integrierter 800W-Wechselrichter</span><span style=\"font-size:12px;\"><br></span></li><li><span style=\"font-size:10px;\">Auf bis zu 16kWh erweiterbar</span><span style=\"font-size:12px;\"><br></span></li><li><span style=\"font-size:10px;\">4 Solarmodule anschließbar (8 Solarmodule mit Y-Verbinder)</span></li><li><span style=\"font-size:10px;\">Ausgangsleistung: max. 1000 W</span></li></ul><p><span style=\"font-size:10px;\"><b>1 x Anker Smart Meter</b></span></p><ul><li><span style=\"font-size:10px;\">Kompatibel mit Solarbank 3 E2700 Pro</span><span style=\"font-size:12px;\"><br></span></li><li><span style=\"font-size:10px;\">Überwachung des Stromverbrauchs in Echtzeit</span><span style=\"font-size:12px;\"><br></span></li><li><span style=\"font-size:10px;\">1-Watt-Anpassung für bedarfsgesteuerte Entladung des Speichers</span><span style=\"font-size:12px;\"><br></span></li><li><span style=\"font-size:10px;\">Verbindung zum Stromzähler über WLAN, Bluetooth oder RS-485&nbsp;</span><span style=\"font-size:12px;\"><br></span></li><li><span style=\"font-size:10px;\">Installation auf der Hutschiene</span><span style=\"font-size:12px;\"><br></span></li><li><span style=\"font-size:10px;\">Überwachung des Stromverbrauchs mit Datenvisualisierung in der App</span><span style=\"font-size:12px;\"><br></span></li><li><span style=\"font-size:10px;\">2 jährige Herstellergarantie</span><br style=\"margin:0px;\"></li></ul><p><span style=\"font-size:12px;\"><b><span style=\"font-size:10px;\">4 x Ulica Solarmodul UL-500M-120BDGN / 500W oder vergleichbar</span><br></b></span><span style=\"font-size:10px;\">Das bifaziale Design des Glas/Glas Moduls nutzt beide Seiten zur Energieerzeugung und maximiert so die Energieausbeute.</span></p></div><div><div><p><span style=\"font-size:10px;\"><b>Technische Details:</b></span></p></div></div><div><div><ul><li><span style=\"font-size:10px;\">Solarmodul mit einer Nennleistung von 500 Watt</span></li><li><span style=\"font-size:10px;\">22.59%&nbsp;</span><span style=\"font-size:10px;\">Wirkungsgrad</span><span style=\"font-size:12px;\"><br></span></li><li><span style=\"font-size:10px;\">Schneelasten: 5400 Pa</span><span style=\"font-size:12px;\"><br></span></li><li><span style=\"font-size:10px;\">Windlast: 2400 Pa</span><span style=\"font-size:12px;\"><br></span></li><li><span style=\"font-size:10px;\">Abmessungen: 1952 mm (L) x 1134 mm (B) x 30 mm (H)</span><span style=\"font-size:12px;\"><br></span></li><li><span style=\"font-size:10px;\">Gewicht: 26.2 kg</span><span style=\"font-size:12px;\"><br></span></li><li><span style=\"font-size:10px;\">Garantie: 30 Jahre</span><span style=\"font-size:12px;\"><br></span></li></ul><p><span style=\"font-size:10px;\"><b>1x Unterkonstruktion</b></span></p><ul><li><span style=\"font-size:10px;\">Montagesystem von Verniprens</span><span style=\"font-size:12px;\"><br></span></li><li>Betonhalter 10-40° für Solarpanel 5x</li></ul></div></div>",
              "supply_product_description": "<div>\n<div><div> </div></div></div><div><span style=\"font-size:10px;\"><b>Anker SOLIX Solarbank 3 E2700 Pro 2,688kWh Speicher inkl. Smart Meter únd 4 x 500W Modul</b></span><b style=\"font-size:12px;\"><br /></b></div><div><b style=\"font-size:12px;\"><br /></b></div><div><b style=\"font-size:12px;\"><span style=\"font-size:10px;\">Bestehend aus:</span></b></div><div><div><b><span style=\"font-size:10px;\">1 x Anker E2700Pro</span><span style=\"font-size:12px;\"><br /></span></b></div><ul><li><span style=\"font-size:10px;\">2,668kWh AIO Speichersystem für Balkonkraftwerke</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">Integrierter 800W-Wechselrichter</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">Auf bis zu 16kWh erweiterbar</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">4 Solarmodule anschließbar (8 Solarmodule mit Y-Verbinder)</span></li><li><span style=\"font-size:10px;\">Ausgangsleistung: max. 1000 W</span></li></ul><p><span style=\"font-size:10px;\"><b>1 x Anker Smart Meter</b></span></p><ul><li><span style=\"font-size:10px;\">Kompatibel mit Solarbank 3 E2700 Pro</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">Überwachung des Stromverbrauchs in Echtzeit</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">1-Watt-Anpassung für bedarfsgesteuerte Entladung des Speichers</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">Verbindung zum Stromzähler über WLAN, Bluetooth oder RS-485 </span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">Installation auf der Hutschiene</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">Überwachung des Stromverbrauchs mit Datenvisualisierung in der App</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">2 jährige Herstellergarantie</span><br style=\"margin:0px;\" /></li></ul><p><span style=\"font-size:12px;\"><b><span style=\"font-size:10px;\">4 x Ulica Solarmodul UL-500M-120BDGN / 500W oder vergleichbar</span><br /></b></span><span style=\"font-size:10px;\">Das bifaziale Design des Glas/Glas Moduls nutzt beide Seiten zur Energieerzeugung und maximiert so die Energieausbeute.</span></p></div><div><div><p><span style=\"font-size:10px;\"><b>Technische Details:</b></span></p></div></div><div><div><ul><li><span style=\"font-size:10px;\">Solarmodul mit einer Nennleistung von 500 Watt</span></li><li><span style=\"font-size:10px;\">22.59% </span><span style=\"font-size:10px;\">Wirkungsgrad</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">Schneelasten: 5400 Pa</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">Windlast: 2400 Pa</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">Abmessungen: 1952 mm (L) x 1134 mm (B) x 30 mm (H)</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">Gewicht: 26.2 kg</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">Garantie: 30 Jahre</span><span style=\"font-size:12px;\"><br /></span></li></ul><p><span style=\"font-size:10px;\"><b>1x Unterkonstruktion</b></span></p><ul><li><span style=\"font-size:10px;\">Montagesystem von Schletter, Vernisol oder vergleichbar.</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">ausgelegt auf die individuelle Dachkonstruktion</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">langlebiges Aluminium- / Edelstahlgestell oder Betonsteine</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">Zertifiziert für 50 Jahre Nutzungsdauer</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">inkl. aller Aluminiumprofile, Klemmen, Edelstahlschrauben</span><span style=\"font-size:12px;\"><br /></span></li><li><span style=\"font-size:10px;\">inkl. normgerechter Montage und normgerechter Unterkonstruktion</span><br /></li></ul></div></div>",
              "unit_type": "Stk",
              "document_created_at": "August 26, 2025, 09:00",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000irYvTQAU",
              "customer_document_id": "9649424",
              "company_id": "53175",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik",
              "document_net_value_total": "22.164,82",
              "net_price_per_unit": "91",
              "quantity": "24",
              "net_value_total": "2.184",
              "product_id": "GZTqk_tecAA",
              "supply_product_name": "Heckert Solarmodul NeMo 80M 4.2 Black edition 80 M MC4 400",
              "drafts_supply_product_name": "Heckert Solarmodul NeMo 80M 4.2 Black edition 80 M MC4 400",
              "drafts_description": "<div><ul><li>Nennleistung 400 Wp</li><li>Monokristallines G12-Halbzellen-Solarmodul, 80-zellig</li><li>schwarzer Rahmen, schwarzes Backsheet, Modulrückseite weiß</li><li>Plussortiert 0/+4,99 Wp</li><li>2-Kabellösung für optimale Kombinierbarkeit und Flexibilität</li><li>MC4 Steckverbinder: Konformer Anschluss von Leistungsoptimierern möglich</li><li>25 Jahre Leistungsgewährleistung</li><li>15 Jahre Produktgarantie</li><li>Made in Germany</li></ul></div>",
              "supply_product_description": "<div><ul><li>Nennleistung 400 Wp</li><li>Monokristallines G12-Halbzellen-Solarmodul, 80-zellig</li><li>schwarzer Rahmen, schwarzes Backsheet, Modulrückseite weiß</li><li>Plussortiert 0/+4,99 Wp</li><li>2-Kabellösung für optimale Kombinierbarkeit und Flexibilität</li><li>MC4 Steckverbinder</li><li>25 Jahre Leistungsgewährleistung</li><li>15 Jahre Produktgarantie</li><li>Made in Germany</li></ul></div>",
              "supply_product_category": "Nachhaltige Energiesysteme",
              "unit_type": "Stk",
              "document_created_at": "Februar 27, 2025, 11:56",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000irkLOQAY",
              "customer_document_id": "12059328",
              "company_id": "53653",
              "industry": "Photovoltaik",
              "measure_name": "Projekt",
              "document_net_value_total": "16.748,2",
              "net_price_per_unit": "290",
              "quantity": "12",
              "net_value_total": "3.480",
              "product_id": "GmEQlP4B4AA",
              "supply_product_name": "Aiko Neostar 3S+ Glas/Glas Modul 475 Wp",
              "drafts_supply_product_name": "Aiko Neostar 3S+ Glas/Glas Modul 470Wp",
              "drafts_description": "<div>\n<ul><li>Einzigartige Technologie zur Abschaltung einzelner Zellen: Bei Verschattungen wird der Stromfluss optimiert, indem nur die betroffenen Zellen deaktiviert werden, was Leistungsverluste auf nur 1,85 % reduziert </li><li>Maximale Leistung: 470 W</li><li>Modulwirkungsgrad: 23,5 %</li><li>Lineare Leistungsgarantie von 30 Jahren</li><li>Attraktives Design: Vollständig schwarzes Design (Full-Black)</li></ul><p><img src=\"https://login.hero-software.de/files/img/n18cbmqxh40kk0s0\" alt=\"Poster Aiko 3+ (594 x 600 mm) (594 x 1000 mm).png\" /><br /></p></div><div>\n\n</div>",
              "supply_product_description": "<ul>\n  <li>Einzigartige Technologie zur Abschaltung einzelner Zellen: Bei Verschattungen wird der Stromfluss optimiert, indem nur die betroffenen Zellen deaktiviert werden, was Leistungsverluste auf nur 1,85 % reduziert </li>\n  <li>Maximale Leistung: 475 W</li>\n  <li>Modulwirkungsgrad: 23,5 %</li>\n  <li>Lineare Leistungsgarantie von 30 Jahren</li>\n  <li>Attraktives Design: Vollständig schwarzes Design (Full-Black)</li>\n</ul>\n\n<div style=\"margin-left:1mm;margin-top:-1mm;padding:0;max-width:300%;\">\n\n <img src=\"https://login.hero-software.de/files/img/1sxwg1o62juskkocs\" alt=\"NEW_CI_AIKO.png\" style=\"margin-top:1mm;margin-left:-28%;max-width:175%;\" />\n</div>",
              "supply_product_category": "Photovoltaik Module",
              "supply_product_manufacturer": "AIKO",
              "unit_type": "Modul(e)",
              "document_created_at": "Juli 31, 2025, 20:29",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000e4p5XQAQ",
              "customer_document_id": "10794030",
              "company_id": "46553",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik",
              "document_net_value_total": "26.023,87",
              "net_price_per_unit": "188,75",
              "quantity": "25",
              "net_value_total": "4.718,75",
              "product_id": "FwCcRGqL4AA",
              "supply_product_name": "Solar Fabrik 420 W S4 Innovation Powerline N Glas/Glas",
              "drafts_supply_product_name": "Solar Fabrik 420 W S4 Innovation Powerline N Glas/Glas",
              "drafts_description": "<div>Nennleistung: 420 Watt\n<br />Wirkungsgrad: 21,5 %\n<br />30 Jahre Produkt &amp; Leistungsgarantie<br />Leerlaufspannung: 38,48 V\nKurzschlussstrom: 13,78 A\n<br />Maximale Systemspannung: 1.500 V\nRückstrombelastbarkeit: 30 A \nModulrahmen: Schwarz\n<br />Maß: 1.722 x 1.134 x 30 mm<br />Gewicht: 23,7 kg\n<br />Stecker / Buchse: MC4 kompatibel<br />Länge Anschlusskabel: 1,2 m\nLeistungstemperaturkoeffizient: -0,30 % / °C\nSchneelast: 5400 Pa</div>",
              "supply_product_description": "<div>Nennleistung: 420 Watt\n<br />Wirkungsgrad: 21,5 %\n<br />30 Jahre Produkt &amp; Leistungsgarantie<br />Leerlaufspannung: 38,48 V\nKurzschlussstrom: 13,78 A\n<br />Maximale Systemspannung: 1.500 V\nRückstrombelastbarkeit: 30 A \nModulrahmen: Schwarz\n<br />Maß: 1.722 x 1.134 x 30 mm<br />Gewicht: 23,7 kg\n<br />Stecker / Buchse: MC4 kompatibel<br />Länge Anschlusskabel: 1,2 m\nLeistungstemperaturkoeffizient: -0,30 % / °C\nSchneelast: 5400 Pa</div>",
              "supply_product_category": "Module",
              "supply_catalog_name": "Eigene Artikel",
              "supply_product_manufacturer": "Solar Fabrik",
              "unit_type": "Stk",
              "document_created_at": "Mai 14, 2025, 08:21",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000LLLtfQAH",
              "customer_document_id": "11365902",
              "company_id": "22386",
              "industry": "Photovoltaik",
              "measure_name": "Kontakt",
              "document_net_value_total": "16.324,86",
              "net_price_per_unit": "82",
              "quantity": "32",
              "net_value_total": "2.624",
              "product_id": "GijHPSxNgAA",
              "supply_product_name": "TRINA Photovoltaikmodul Glas-Glas 455Wp Black/White 1762x1134x30mm",
              "drafts_supply_product_name": "JA-Solar Photovoltaikmodul Black Frame 455Wp Glas-Glas / Bifazial 1762x1134x30mm",
              "supply_product_category": "Handwerkzeuge - Energieverteilsysteme/Schaltanlagen",
              "unit_type": "STK",
              "document_created_at": "Juni 22, 2025, 07:27",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000ezJpHQAU",
              "customer_document_id": "8984094",
              "company_id": "50160",
              "industry": "Elektrotechnik",
              "measure_name": "Elektrohandwerk",
              "document_net_value_total": "7.657,42",
              "net_price_per_unit": "71,7",
              "quantity": "14,24",
              "position_item_quantity": "2,2",
              "net_value_total": "2.246,22",
              "product_id": "F1e_2vVw0AA",
              "service_id": "148789",
              "supply_product_name": "PV-Modul Longi HI-MO5m, LR5-54HIB, 405W, (B/B)",
              "drafts_supply_product_name": "PV-Modul Longi HI-MO5m, LR5-54HIB, 405W, (B/B)",
              "supply_service_name": "Lieferung und Anschließen von PV-Modulen",
              "drafts_supply_service_name": "Lieferung und Anschließen von PV-Modulen",
              "drafts_description": "<div><div><div><div><p>405Wp -0/+5W, monokristalline Halb-Zellen, PID Resistenz, schwarzer Aluminiumrahmen, schwarze Rückseitenfolie,<br />MC4-EVO2 Stecker, 1722x1134x30mm, 21,5kg Longi Produktgarantie: 12 Jahre</p><p>Longi Leistungsgarantie: 25 Jahre Made in China</p></div></div></div></div>",
              "supply_product_description": "<div><div><div><div><p>405Wp -0/+5W, monokristalline Halb-Zellen, PID Resistenz, schwarzer Aluminiumrahmen, schwarze Rückseitenfolie,<br />MC4-EVO2 Stecker, 1722x1134x30mm, 21,5kg Longi Produktgarantie: 12 Jahre</p><p>Longi Leistungsgarantie: 25 Jahre Made in China</p></div></div></div></div>",
              "unit_type": "Stk",
              "document_created_at": "Januar 16, 2025, 14:17",
              "record_type": "service_product"
            },
            {
              "account_id": "0013V00000irocuQAA",
              "customer_document_id": "10615351",
              "company_id": "54744",
              "industry": "Elektrotechnik",
              "measure_name": "Energietechnik",
              "document_net_value_total": "23.531,39",
              "net_price_per_unit": "79,75",
              "quantity": "48",
              "net_value_total": "3.828",
              "product_id": "GNkWvNHa0AA",
              "supply_product_name": "Photovoltaikmodul",
              "drafts_supply_product_name": "Photovoltaikmodul",
              "drafts_description": "<p>Trina Vertex S+ 450W</p><p>- Modulleistung: 450Wp</p><p>- Solarzellen: N-Typ i-TOPCon Modul </p><p>- Modulmaße: 1762x1134x30mm </p><p>- Doppelglas </p><p>- 5400Pa Schneelast </p><p>- 4000Pa Windlast </p><p>- 25 Jahre Produktgarantie </p><p>- 30 Jahre Leistungsgaranti </p><p>- N-Typ Technologie mit 1% Degradation im ersten Jahr und 0,4% in den Jahren 2-30 </p>",
              "supply_product_description": "<p>Trina Vertex S+ 450W</p><p>- Modulleistung: 450Wp</p><p>- Solarzellen: N-Typ i-TOPCon Modul </p><p>- Modulmaße: 1762x1134x30mm </p><p>- Doppelglas </p><p>- 5400Pa Schneelast </p><p>- 4000Pa Windlast </p><p>- 25 Jahre Produktgarantie </p><p>- 30 Jahre Leistungsgaranti </p><p>- N-Typ Technologie mit 1% Degradation im ersten Jahr und 0,4% in den Jahren 2-30 </p>",
              "unit_type": "Stk",
              "document_created_at": "Mai 2, 2025, 06:13",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000PFpRGQA1",
              "customer_document_id": "10003285",
              "company_id": "25649",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Kontakt",
              "document_net_value_total": "966,8",
              "net_price_per_unit": "4,81",
              "quantity": "2",
              "net_value_total": "9,62",
              "product_id": "FEedqwupoAA",
              "supply_product_name": "Übergangsstück Sanpress/Profipress 22mm x  3/4\"AG, Rotguss,m.Pressanschluss",
              "drafts_supply_product_name": "Übergangsstück Sanpress/Profipress 22mm x  3/4\"AG, Rotguss,m.Pressanschluss",
              "unit_type": "Stk",
              "document_created_at": "März 21, 2025, 07:44",
              "record_type": "product"
            },
            {
              "account_id": "001Tq000004lJmbIAE",
              "customer_document_id": "10024399",
              "company_id": "59129",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Kontakt",
              "document_net_value_total": "1.228,8",
              "net_price_per_unit": "285,5",
              "quantity": "1",
              "net_value_total": "285,5",
              "product_id": "Gfbm78yQwAA",
              "supply_product_name": "Durchlauferhitzer Stiebel Eltron DHB 18/21/24 ST Trend Wandmontage Druckfest Elektronisch",
              "drafts_supply_product_name": "Durchlauferhitzer Stiebel Eltron DHB 18/21/24 ST Trend Wandmontage Druckfest Elektronisch",
              "unit_type": "Stk",
              "document_created_at": "März 23, 2025, 23:24",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000awKDpQAM",
              "customer_document_id": "10036171",
              "company_id": "43169",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik mit Speicher",
              "document_net_value_total": "28.804",
              "net_price_per_unit": "30",
              "quantity": "1",
              "net_value_total": "30",
              "product_id": "GhvQodg0sAA",
              "supply_product_name": "Maschineneinsatzpauschale Bohrhammer (inkl. Bohrer)",
              "drafts_supply_product_name": "Maschineneinsatzpauschale Bohrhammer",
              "unit_type": "Tag(e)",
              "document_created_at": "März 24, 2025, 11:40",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000LKZv2QAH",
              "customer_document_id": "10040642",
              "company_id": "19223",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Heizung",
              "document_net_value_total": "6.864,79",
              "net_price_per_unit": "4,24",
              "quantity": "2",
              "net_value_total": "8,48",
              "product_id": "E1ssmTIm8AA",
              "supply_product_name": "Hahnverlaengerung  1/2\" x  20mm  DVGW Rotguss  m.konischem AG u.zylindr.IG",
              "drafts_supply_product_name": "Hahnverlaengerung  1/2\" x  20mm  DVGW Rotguss  m.konischem AG u.zylindr.IG",
              "unit_type": "Stk",
              "document_created_at": "März 24, 2025, 13:53",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000j1v1AQAQ",
              "customer_document_id": "10032353",
              "company_id": "35322",
              "industry": "Elektrotechnik",
              "measure_name": "Kontakt",
              "document_net_value_total": "368,53",
              "net_price_per_unit": "29,89",
              "quantity": "2",
              "net_value_total": "59,78",
              "product_id": "F3v5o88w4AA",
              "supply_product_name": "EGUtec Fi-Schalter 4-polig 40A 10kA 30mA",
              "drafts_supply_product_name": "EGUtec Fi-Schalter 4-polig 40A 10kA 30mA",
              "drafts_description": "<div></div><div>\n<p>EGUtec Fehlerstromschutzschalter</p><p>Für \nWechsel- und pulsierende Gleichfehlerströme Typ A, nach IEC/EN 61008-1, \nBi-Connect-Klemme, Beschriftungsfenster, Anbau von Hilfsgeräten möglich,\n Befestigung auf Hutprofilschiene EN 60715 durch rastende \nSchnellbefestigung, eindeutige Schaltstellungsanzeige rot/grün am \nSchalthebel, Bemessungsfrequenz 50 Hz, Bemessungskurzschlussstrom 10 kA.</p><p>Polzahl: 4, unverzögert</p><p>Stoßstromfest bis 0,25 kA, Einbaubreite: 70 mm, 4 TE.</p><p>Bemessungsstrom 40 A</p><p>Bemessungsfehlerstrom 0,03 A</p>\n\n</div><div><br /></div>",
              "supply_product_description": "<div></div><div>\n<p>EGUtec Fehlerstromschutzschalter</p><p>Für \nWechsel- und pulsierende Gleichfehlerströme Typ A, nach IEC/EN 61008-1, \nBi-Connect-Klemme, Beschriftungsfenster, Anbau von Hilfsgeräten möglich,\n Befestigung auf Hutprofilschiene EN 60715 durch rastende \nSchnellbefestigung, eindeutige Schaltstellungsanzeige rot/grün am \nSchalthebel, Bemessungsfrequenz 50 Hz, Bemessungskurzschlussstrom 10 kA.</p><p>Polzahl: 4, unverzögert</p><p>Stoßstromfest bis 0,25 kA, Einbaubreite: 70 mm, 4 TE.</p><p>Bemessungsstrom 40 A</p><p>Bemessungsfehlerstrom 0,03 A</p>\n\n</div><div><br /></div>",
              "supply_product_category": "Verteilungsbau",
              "ean": "3414970812599",
              "supply_product_manufacturer": "EGU Elektro-Großhandels Union",
              "unit_type": "Stk",
              "document_created_at": "März 24, 2025, 09:58",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000LKZm1QAH",
              "customer_document_id": "10027968",
              "company_id": "16429",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Kontakt",
              "document_net_value_total": "1.337,86",
              "net_price_per_unit": "11,24",
              "quantity": "2",
              "net_value_total": "22,48",
              "product_id": "EtS6ZSfUMAA",
              "supply_product_name": "comfort Thermostatkopf Typ LH weiß",
              "drafts_supply_product_name": "comfort Thermostatkopf Typ LH weiß",
              "ean": "4026755429329",
              "unit_type": "Stk",
              "document_created_at": "März 24, 2025, 08:02",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000LKZF1QAP",
              "customer_document_id": "10020444",
              "company_id": "6699",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Kontakt",
              "document_net_value_total": "164,79",
              "net_price_per_unit": "6,5",
              "quantity": "1",
              "net_value_total": "6,5",
              "product_id": "D881cnxOwAA",
              "supply_product_name": "Kohlenmonoxid-Kontrollmessung (CO)",
              "drafts_supply_product_name": "Kohlenmonoxid-Kontrollmessung (CO)",
              "unit_type": "x",
              "document_created_at": "März 22, 2025, 20:42",
              "record_type": "product"
            },
            {
              "account_id": "001Tq00000FGQ2oIAH",
              "customer_document_id": "10037769",
              "company_id": "68763",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Heizung",
              "document_net_value_total": "1.077,84",
              "net_price_per_unit": "23,46",
              "quantity": "1",
              "position_item_quantity": "1",
              "net_value_total": "23,46",
              "product_id": "GaBR_Ssc4AA",
              "service_id": "383251",
              "supply_product_name": "CARE 221 SM 94 Heizkesselreiniger 500ml Spraydose für ölbeheizte Kessel CONEL",
              "drafts_supply_product_name": "CARE 221 SM 94 Heizkesselreiniger 500ml Spraydose für ölbeheizte Kessel CONEL",
              "supply_service_name": "Wartungsset",
              "drafts_supply_service_name": "Wartungsset",
              "unit_type": "Stk",
              "document_created_at": "März 24, 2025, 12:28",
              "record_type": "service_product"
            },
            {
              "account_id": "0013V00000auDcBQAU",
              "customer_document_id": "10017589",
              "company_id": "42473",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Projekt",
              "document_net_value_total": "4.255,96",
              "net_price_per_unit": "0,72",
              "quantity": "1",
              "position_item_quantity": "960",
              "net_value_total": "688,03",
              "service_id": "381832",
              "supply_service_name": "Balkonboden Ausbau",
              "drafts_supply_service_name": "Balkonboden Aufbau",
              "document_created_at": "März 22, 2025, 07:03",
              "record_type": "service_wagegroup"
            },
            {
              "account_id": "0013V00000j439nQAA",
              "customer_document_id": "10013352",
              "company_id": "52859",
              "industry": "Sanitär, Heizung & Klima",
              "document_net_value_total": "350",
              "net_price_per_unit": "350",
              "quantity": "1",
              "net_value_total": "350",
              "product_id": "GhmYrxGpIAA",
              "supply_product_name": "Wiederherstellung Wandoberfläche ",
              "drafts_supply_product_name": "Wiederherstellung Wandoberfläche ",
              "drafts_description": "<div><p></p><ol><li><p>Vorbereitende Arbeiten:</p><ul><li>Entfernung von beschädigtem Putz und Reinigung der Oberfläche.</li></ul></li><li><p>Verputzen der Wand:</p><ul><li>Auftragen einer geeigneten Grundierung und anschließendes Verputzen der geschlitzten Bereiche.</li></ul></li><li><p>Tapezieren:</p><ul><li>Anbringen einer hochwertigen Raufaser-Tapete.</li></ul></li><li><p>Streichen:</p><ul><li>Zwei Anstriche mit hochwertiger Wandfarbe nach Wahl des Kunden.</li></ul></li><li><p>Reinigung und Abnahme:</p><ul><li>Endreinigung der Arbeitsfläche und Abnahme durch den Kunden.</li></ul></li></ol></div>",
              "supply_product_description": "<div><p></p><ol><li><p>Vorbereitende Arbeiten:</p><ul><li>Entfernung von beschädigtem Putz und Reinigung der Oberfläche.</li></ul></li><li><p>Verputzen der Wand:</p><ul><li>Auftragen einer geeigneten Grundierung und anschließendes Verputzen der geschlitzten Bereiche.</li></ul></li><li><p>Tapezieren:</p><ul><li>Anbringen einer hochwertigen Raufaser-Tapete.</li></ul></li><li><p>Streichen:</p><ul><li>Zwei Anstriche mit hochwertiger Wandfarbe nach Wahl des Kunden.</li></ul></li><li><p>Reinigung und Abnahme:</p><ul><li>Endreinigung der Arbeitsfläche und Abnahme durch den Kunden.</li></ul></li></ol></div>",
              "unit_type": "m²",
              "document_created_at": "März 21, 2025, 13:10",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000PFpRGQA1",
              "customer_document_id": "10003285",
              "company_id": "25649",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Kontakt",
              "document_net_value_total": "966,8",
              "net_price_per_unit": "0,87",
              "quantity": "14",
              "net_value_total": "12,18",
              "product_id": "FEeRJctpoAA",
              "supply_product_name": "CONEL FLEX PE Schlauchisolierung 50% 15x14mm angeschlitzt 2m",
              "drafts_supply_product_name": "CONEL FLEX PE Schlauchisolierung 50% 15x14mm angeschlitzt 2m",
              "unit_type": "m",
              "document_created_at": "März 21, 2025, 07:44",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000Z5jMEQAZ",
              "customer_document_id": "10020047",
              "company_id": "39677",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Kontakt",
              "document_net_value_total": "680,08",
              "net_price_per_unit": "15",
              "quantity": "1",
              "net_value_total": "15",
              "product_id": "FfV73MlJ0AA",
              "supply_product_name": "Kleinmaterial",
              "drafts_supply_product_name": "Kleinmaterial",
              "unit_type": "Stk",
              "document_created_at": "März 22, 2025, 17:32",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000LKZv2QAH",
              "customer_document_id": "10040642",
              "company_id": "19223",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Heizung",
              "document_net_value_total": "6.864,79",
              "net_price_per_unit": "9,97",
              "quantity": "1",
              "net_value_total": "9,97",
              "product_id": "E1sqNoWm8AA",
              "supply_product_name": "TRINNITY Trinkwasser Kugelhahn 1/2\" IG, PN 40, mess., Hebelgriff grün, DVGW",
              "drafts_supply_product_name": "TRINNITY Trinkwasser Kugelhahn 1/2\" IG, PN 40, mess., Hebelgriff grün, DVGW",
              "unit_type": "Stk",
              "document_created_at": "März 24, 2025, 13:53",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000Z5jMEQAZ",
              "customer_document_id": "10020047",
              "company_id": "39677",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Kontakt",
              "document_net_value_total": "680,08",
              "net_price_per_unit": "7,65",
              "quantity": "1",
              "net_value_total": "7,65",
              "product_id": "FfV_6AsvoAA",
              "supply_product_name": "Schutzrohr 63mm",
              "drafts_supply_product_name": "Schutzrohr 63mm",
              "unit_type": "m",
              "document_created_at": "März 22, 2025, 17:32",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000j2s32QAA",
              "customer_document_id": "10016301",
              "company_id": "52128",
              "industry": "Photovoltaik",
              "document_net_value_total": "2.600",
              "net_price_per_unit": "65",
              "quantity": "40",
              "net_value_total": "2.600",
              "product_id": "GKBxTQu-IAA",
              "supply_product_name": "Anmeldung  ",
              "drafts_supply_product_name": "Leads | Kundenkontakte ",
              "drafts_description": "<p><b>wir verweisen auf Ihren Handelsvertretervertrag</b></p><p><br></p><p><br></p>",
              "supply_product_description": "<p><b>Folgende Leistungen sind enthalten:</b></p><p>- Netzverträglichkeitsprüfung über 30 kWp</p><p>- Anmeldung beim Energieversorger </p><p>- Marktstammdatenregister Eintragung</p><p><br /></p><p><b>Nicht enthalten in dieser Position:</b></p><p>Antragstellung für:</p><p>- Dynamischen Stromtarif</p><p>- Flexibilitätsvermarktung</p><p><br /></p><p>Für benannte Antragstellungen steht unseren Kunden das Kundenportal zur Verfügung.</p><p><br /></p><p><br /></p>",
              "supply_product_category": "TAB",
              "unit_type": "Stk",
              "document_created_at": "März 21, 2025, 16:40",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000e8124QAA",
              "customer_document_id": "10012727",
              "company_id": "47299",
              "industry": "Photovoltaik",
              "measure_name": "Projekt",
              "document_net_value_total": "12.970",
              "net_price_per_unit": "50",
              "quantity": "3",
              "net_value_total": "150",
              "product_id": "GXmKp958QAA",
              "supply_product_name": "BRC Optimierer",
              "drafts_supply_product_name": "BRC Optimierer",
              "unit_type": "Stk",
              "document_created_at": "März 21, 2025, 12:43",
              "record_type": "product"
            },
            {
              "account_id": "001Tq0000053jvUIAQ",
              "customer_document_id": "10018271",
              "company_id": "60562",
              "industry": "Photovoltaik",
              "measure_name": "Projekt",
              "document_net_value_total": "25.575,9",
              "net_price_per_unit": "3.840",
              "quantity": "1",
              "net_value_total": "3.840",
              "product_id": "GDzZmaxtgAA",
              "supply_product_name": "Elektrischer Anschluss DC / AC",
              "drafts_supply_product_name": "Elektrischer Anschluss bis 30 kwp",
              "supply_product_category": "Elektrische Installation",
              "unit_type": "pauschal",
              "document_created_at": "März 22, 2025, 09:59",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000LKZF1QAP",
              "customer_document_id": "10021013",
              "company_id": "6699",
              "industry": "Sanitär, Heizung & Klima",
              "document_net_value_total": "1.204,07",
              "net_price_per_unit": "106,42",
              "quantity": "1",
              "net_value_total": "106,42",
              "product_id": "ENYiEsppEAA",
              "supply_product_name": "Brennerdichtung BUDERUS GB 162-15/25 mit Gas-Luftverteilerplatte",
              "drafts_supply_product_name": "Brennerdichtung BUDERUS GB 162-15/25 mit Gas-Luftverteilerplatte",
              "supply_product_manufacturer": "BUDERUS",
              "unit_type": "Stk",
              "document_created_at": "März 23, 2025, 09:06",
              "record_type": "product"
            },
            {
              "account_id": "001Tq0000085RfjIAE",
              "customer_document_id": "10027889",
              "company_id": "63406",
              "industry": "Photovoltaik",
              "measure_name": "Photovoltaik",
              "document_net_value_total": "5.830,06",
              "net_price_per_unit": "225",
              "quantity": "1",
              "net_value_total": "225",
              "product_id": "GLRxO0EfwAA",
              "supply_product_name": "Kleinmaterial, Befestigung und Vertratung",
              "drafts_supply_product_name": "Kleinmaterial, Befestigung und Verdratung",
              "unit_type": "Stk",
              "document_created_at": "März 24, 2025, 08:00",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000LKZv2QAH",
              "customer_document_id": "10040642",
              "company_id": "19223",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Heizung",
              "document_net_value_total": "6.864,79",
              "net_price_per_unit": "94,65",
              "quantity": "1",
              "net_value_total": "94,65",
              "product_id": "E1sq8ccm8AA",
              "supply_product_name": "COSMO Kontroll-Rohr flexibel DN 80",
              "drafts_supply_product_name": "COSMO Kontroll-Rohr flexibel DN 80",
              "unit_type": "Stk",
              "document_created_at": "März 24, 2025, 13:53",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000e8124QAA",
              "customer_document_id": "10012590",
              "company_id": "47299",
              "industry": "Photovoltaik",
              "measure_name": "Projekt",
              "document_net_value_total": "29.700",
              "net_price_per_unit": "350",
              "quantity": "1",
              "net_value_total": "350",
              "product_id": "FqO9Op47YAA",
              "supply_product_name": "Anmeldung beim Netzbetreiber",
              "drafts_supply_product_name": "Anmeldung beim Netzbetreiber",
              "drafts_description": "<ul><li>Netzverträglichkeitsanfrage</li><li>Anmeldung beim NetzB.</li><li>Übermittlung der Fertigstellungsmeldung</li><li>Inbetriebnahme und Kundeneinweisung in die Anlage</li></ul>",
              "supply_product_description": "<ul><li>Netzverträglichkeitsanfrage</li><li>Anmeldung beim NetzB.</li><li>Übermittlung der Fertigstellungsmeldung</li><li>Inbetriebnahme und Kundeneinweisung in die Anlage</li></ul>",
              "supply_product_category": "Abwicklung",
              "unit_type": "Stk",
              "document_created_at": "März 21, 2025, 12:39",
              "record_type": "product"
            },
            {
              "account_id": "001Tq000001x1PRIAY",
              "customer_document_id": "10030646",
              "company_id": "56255",
              "industry": "Sonstiges",
              "measure_name": "Kontakt",
              "document_net_value_total": "13.636,48",
              "net_price_per_unit": "0",
              "quantity": "1",
              "net_value_total": "0",
              "product_id": "GGJkW5mYAAA",
              "supply_product_name": "Anteilige Lohnkosten gemäß § 35a Abs.3 EStG",
              "drafts_supply_product_name": "Anteilige Lohnkosten gemäß § 35a Abs.3 EStG",
              "drafts_description": "Im Rechnungsbetrag sind anteilige Lohnkosten vor Ort incl. An- und Abfahrt gemäß § 35a Abs.3 EStG in Höhe von Euro 3.350,00 zzgl 0% MWSt Summe Euro 3.350,00 enthalten.",
              "supply_product_description": "Im Rechnungsbetrag sind anteilige Lohnkosten vor Ort incl. An- und Abfahrt gemäß § 35a Abs.3 EStG in Höhe von Euro ... zzgl 0% MWSt Summe Euro ... enthalten.",
              "unit_type": "Stk",
              "document_created_at": "März 24, 2025, 09:12",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000LKZv2QAH",
              "customer_document_id": "10040642",
              "company_id": "19223",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Heizung",
              "document_net_value_total": "6.864,79",
              "net_price_per_unit": "8,5",
              "quantity": "1",
              "net_value_total": "8,5",
              "product_id": "a9ae5692-eb26-4eb6-b758-2bed3c80f79e",
              "drafts_supply_product_name": "Mörtel ",
              "document_created_at": "März 24, 2025, 13:53",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000LKZOmQAP",
              "customer_document_id": "10010119",
              "company_id": "9835",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Badezimmer komplett",
              "document_net_value_total": "59.133,77",
              "net_price_per_unit": "6,1",
              "quantity": "1",
              "net_value_total": "6,1",
              "product_id": "EVqZbmuNUAA",
              "supply_product_name": "Montageset f. Wand-WC/WD-Bidet m.geringem Schallschutz TRINNITY",
              "drafts_supply_product_name": "Montageset f. Wand-WC/WD- Bidet mit geringem Schallschutz TRINNITY",
              "unit_type": "Stk",
              "document_created_at": "März 21, 2025, 11:07",
              "record_type": "product"
            },
            {
              "account_id": "001Tq000003HW3NIAW",
              "customer_document_id": "10043428",
              "company_id": "58072",
              "industry": "Sanitär, Heizung & Klima",
              "document_net_value_total": "258,98",
              "net_price_per_unit": "0,75",
              "quantity": "2",
              "position_item_quantity": "60",
              "net_value_total": "90",
              "service_id": "271151",
              "supply_service_name": "Lehrling 2. Lehrjahr",
              "drafts_supply_service_name": "Lehrling 2. Lehrjahr",
              "document_created_at": "März 24, 2025, 15:14",
              "record_type": "service_wagegroup"
            },
            {
              "account_id": "0013V00000e8124QAA",
              "customer_document_id": "10012727",
              "company_id": "47299",
              "industry": "Photovoltaik",
              "measure_name": "Projekt",
              "document_net_value_total": "12.970",
              "net_price_per_unit": "2.550",
              "quantity": "1",
              "net_value_total": "2.550",
              "product_id": "FqO8QYVOUAA",
              "supply_product_name": "AC-Installation ",
              "drafts_supply_product_name": "AC-Installation ",
              "drafts_description": "<ul><li>Montage Wechselrichter</li><li>Installation Smart-Meter</li><li>elektr. Installation der PV-Anlage</li><li>Inbetriebnahme</li><li>erstellen von Messprotokollen und Dokumentation</li></ul>",
              "supply_product_description": "<ul><li>Montage Wechselrichter</li><li>Installation Smart-Meter</li><li>elektr. Installation der PV-Anlage</li><li>erstellen von Messprotokollen und Dokumentation</li></ul>",
              "supply_product_category": "Abwicklung",
              "unit_type": "Stk",
              "document_created_at": "März 21, 2025, 12:43",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000LKZv2QAH",
              "customer_document_id": "10040642",
              "company_id": "19223",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Heizung",
              "document_net_value_total": "6.864,79",
              "net_price_per_unit": "38,05",
              "quantity": "1",
              "net_value_total": "38,05",
              "product_id": "E1q-Y_ibcAA",
              "supply_product_name": "Brandschutzmanschette CONEL FLAM Abm.32 Rohr 1-39mm inkl.Dämm.b.gerad.Durchfü.",
              "drafts_supply_product_name": "Brandschutzmanschette CONEL FLAM Abm.32 Rohr 1-39mm inkl.Dämm.b.gerad.Durchfü.",
              "unit_type": "Stk",
              "document_created_at": "März 24, 2025, 13:53",
              "record_type": "product"
            },
            {
              "account_id": "0013V00000iqxpUQAQ",
              "customer_document_id": "10028420",
              "company_id": "52688",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Kontakt",
              "document_net_value_total": "30.774,61",
              "net_price_per_unit": "51,92",
              "quantity": "1",
              "position_item_quantity": "1",
              "net_value_total": "51,92",
              "product_id": "F-_1H62dMAA",
              "service_id": "176902",
              "supply_product_name": "IS Ausdehnungsgefäß Contraflex CF 12 L. ÄNDERN AUF HOLTER CONCEPT",
              "drafts_supply_product_name": "IS Ausdehnungsgefäß Contraflex CF 12 L. 3/4\" AG, VD 1,5 bar, BD 3 bar",
              "supply_service_name": "Sicherheitswärmetauscher inkl. Zubehör",
              "drafts_supply_service_name": "Sicherheitswärmetauscher inkl. Zubehör",
              "unit_type": "Stk",
              "document_created_at": "März 24, 2025, 08:15",
              "record_type": "service_product"
            },
            {
              "account_id": "0013V00000PFpRGQA1",
              "customer_document_id": "10003285",
              "company_id": "25649",
              "industry": "Sanitär, Heizung & Klima",
              "measure_name": "Kontakt",
              "document_net_value_total": "966,8",
              "net_price_per_unit": "7,92",
              "quantity": "2",
              "net_value_total": "15,84",
              "product_id": "FEedrKIpoAA",
              "supply_product_name": "Wandscheibe Sanpress/Profipress 15mm x   1/2\"IG,m.Pressanschluss,Rotguss",
              "drafts_supply_product_name": "Wandscheibe Sanpress/Profipress 15mm x   1/2\"IG,m.Pressanschluss,Rotguss",
              "unit_type": "Stk",
              "document_created_at": "März 21, 2025, 07:44",
              "record_type": "product"
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "Classification Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "PV Module Classifier",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Download CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download CSV File": {
      "main": [
        [
          {
            "node": "Extract CSV Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CSV Data": {
      "main": [
        [
          {
            "node": "Batch Rows (10 per group)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Original Data with Classifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Rows (10 per group)": {
      "main": [
        [
          {
            "node": "PV Module Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PV Module Classifier": {
      "main": [
        [
          {
            "node": "Split Results Back to Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Results Back to Rows": {
      "main": [
        [
          {
            "node": "Merge Original Data with Classifications",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "PV Module Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge Original Data with Classifications": {
      "main": [
        [
          {
            "node": "Export to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1159f31e-f3de-4e67-9996-727d86b0e4f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3eb633c0355545f592233096113510c869a2e3278864b74e8116812f945b4fd"
  },
  "id": "vTs5b5KGHlSsp7sJ",
  "tags": []
}